/*
  Resets
*/ 
#cobrowse html, #cobrowse body, #cobrowse div, #cobrowse span, #cobrowse applet, #cobrowse object, #cobrowse iframe, #cobrowse h1, #cobrowse h2, #cobrowse h3, #cobrowse h4, #cobrowse h5, #cobrowse h6, #cobrowse p, #cobrowse blockquote, #cobrowse pre, #cobrowse a, #cobrowse abbr, #cobrowse acronym, #cobrowse address, #cobrowse big, #cobrowse cite, #cobrowse code, #cobrowse del, #cobrowse dfn, #cobrowse em, #cobrowse img, #cobrowse ins, #cobrowse kbd, #cobrowse q, #cobrowse s, #cobrowse samp, #cobrowse small, #cobrowse strike, #cobrowse strong, #cobrowse sub, #cobrowse sup, #cobrowse tt, #cobrowse var, #cobrowse b, #cobrowse u, #cobrowse i, #cobrowse center, #cobrowse dl, #cobrowse dt, #cobrowse dd, #cobrowse ol, #cobrowse ul, #cobrowse li, #cobrowse fieldset, #cobrowse form, #cobrowse label, #cobrowse legend, #cobrowse table, #cobrowse caption, #cobrowse tbody, #cobrowse tfoot, #cobrowse thead, #cobrowse tr, #cobrowse th, #cobrowse td, #cobrowse article, #cobrowse aside, #cobrowse canvas, #cobrowse details, #cobrowse embed, #cobrowse figure, #cobrowse figcaption, #cobrowse footer, #cobrowse header, #cobrowse hgroup, #cobrowse menu, #cobrowse nav, #cobrowse output, #cobrowse ruby, #cobrowse section, #cobrowse summary, #cobrowse time, #cobrowse mark, #cobrowse audio, #cobrowse video {   margin: 0;   padding: 0;   border: 0;   font-size: 100%;   font: inherit;   vertical-align: baseline; } #cobrowse article, #cobrowse aside, #cobrowse details, #cobrowse figcaption, #cobrowse figure, #cobrowse footer, #cobrowse header, #cobrowse hgroup, #cobrowse menu, #cobrowse nav, #cobrowse section {   display: block; } #cobrowse body {   line-height: 1; } #cobrowse ol, #cobrowse ul {   margin-left: 25px;   margin-top: 20px; } #cobrowse blockquote, #cobrowse q {   quotes: none; } #cobrowse blockquote:before, #cobrowse blockquote:after, #cobrowse q:before, #cobrowse q:after {   content: '';   content: none; } #cobrowse table {   border-collapse: collapse;   border-spacing: 0; }
#cobrowse, #cobrowse input, #cobrowse textarea, #cobrowse_control_center, #cobrowse_control_center input, #cobrowse_control_center textarea { font-family: Helvetica Nueue, Helvetica, Arial, Sans Serif; font-size: 14px; }

.remote-pointer {
  transition : border 250ms ease;
  -webkit-transition : border 250ms ease;
  -moz-transition : border 250ms ease;
  -o-transition : border 250ms ease;
  position: absolute; 
  height: 18px; 
  width: 18px; 
  padding: 10px; 
  border-radius: 30px;
  border: 5px solid transparent;
  text-align: center;
  margin-top: -17px;
  margin-left: -21px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAUCAYAAABSx2cSAAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8+9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a/cdZ39nnt9fZZ+9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU/L09mZmoSMaz9u4ugGS72yy/UCZz1v9/kSI3QyQGAApF1TY8fiYX5QKUU7PFGTL/BMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0/icTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ+SKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM/0tAyOMBeAr2+WRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T/T3IevtV8Sbsz55BjJ5Z32zsrC+9FgD2JFqbHbO+lVUAtG0GQOXhrE/vIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN/ufgm/Kv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k/fcQ/+PAOWnNycMsnJ/AF/GF6FVR6JQJhIlou4U8gViQLmQKhH/V4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi+vGitka9zjzJ6/uf6Hwtcim7hTEEiU+b2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D+qAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG/AALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw/XjLuA68MN4SbxeLwq3hTvgg/Bc/BifCG+Cn8cfx7fjx/GvyeQCVoEa4IPIZYgJGwkVBAaCOcI/YQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I/UJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl/OX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r+pvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek+9OT6cX0H+i99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj/M05rnP48/bNq9pXv+8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq+9Uuq43Pp893ns+dXzT/5PyH6rC6iXq4+mr1w+o96pMamhq+GhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE+pN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t/ysDQINpgi0GbwaihiqG/YZ5ho+FjI6qRq9Eqo1qjO8Y4Y7ZxivE+41smsImdSZJJjclNU9jU3lRgus+0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m/krCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw+sPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr/tfTuaXbDdFrtOu8/2DvYi+yb7MQc9h3iHvQ732HR2KLuEfdUR6+jhuM7xjOMHJ3snsdNJp9+dWc4pzg3OowsMF/AX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24+ysPSw+RR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c+Oj6JPo0+E752vqt9L/hh/QL9dvrd89fw5/rX+08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC/EN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh+eHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4+ziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD/iRPCqeVMrvRfuXflBNeTu4f7kufGK+eN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl/ygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ/KUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752/ob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy+KK4k8l3JLr31l9V/ndzPaE7b2l9qX7d+B2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI+0MqiyvUqvakfVp+qk6oEaj5rmvep7t+2d2sfb17/fbX/TAY0DxQc+HhQcvH/I91BrrUFtxWHc4azDz+ui6rq/Z39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv/eD1Q3sTq+lQM6O5+AQ4ITnx4sf4H++eDDzZeYp9qukn/Z/2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0/m/989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX+x+aem172296XCz/ZbjrY6+BX3n+l37L972un3ljv+dGwOLBvruLr57/17cPel93v3RB6kPXj/Mejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy//lfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0+OFvyn+tveV0auffnf7vWdiycTwa9HrmT9K3qi+OfrW9m3nZOjk03dp76anit6rvj/2gf2h+2P0x5Hp7E/4T5WfjT93fAn88ngmbWbm3/eE8/syOll+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAEImlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHRpZmY6UmVzb2x1dGlvblVuaXQ+MTwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6Q29tcHJlc3Npb24+NTwvdGlmZjpDb21wcmVzc2lvbj4KICAgICAgICAgPHRpZmY6WFJlc29sdXRpb24+NzI8L3RpZmY6WFJlc29sdXRpb24+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgICAgIDx0aWZmOllSZXNvbHV0aW9uPjcyPC90aWZmOllSZXNvbHV0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24+MTU8L2V4aWY6UGl4ZWxYRGltZW5zaW9uPgogICAgICAgICA8ZXhpZjpDb2xvclNwYWNlPjE8L2V4aWY6Q29sb3JTcGFjZT4KICAgICAgICAgPGV4aWY6UGl4ZWxZRGltZW5zaW9uPjIwPC9leGlmOlBpeGVsWURpbWVuc2lvbj4KICAgICAgICAgPGRjOnN1YmplY3Q+CiAgICAgICAgICAgIDxyZGY6QmFnLz4KICAgICAgICAgPC9kYzpzdWJqZWN0PgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxMy0xMS0yNVQxMDoxMToyMTwveG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+UGl4ZWxtYXRvciAzLjA8L3htcDpDcmVhdG9yVG9vbD4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+Co1609wAAAF+SURBVDgRjVTBTsJAEB1atVWJnpR4MFk5+BPAxXAhfgHRkzeIhx6MX+LfgPgBcudm+gUkBFtpFPC9pduwCi2TvM7O7r43O5vZlkSkBDiph5MlsEg941zbw+pxGIZLAuMysA9QNNeYkfC4S718CASmGB4CFM0VINEFNBneCEwwLBQwtTJLZukJCgVI3mi7CGwlU7FIIJdcJFBIzhPYibxNwLplbvpr4WPVmkIfTJRSR5icbySTwMsypoIgkCiKJI6nMh6ziTKjyqVuzafBqkXb7WcTi5nzvGvsuwBOAR9wTM3sadEZO52u9HqvjC1Lki/EEUD/DWgO27CiM9Vqdxhfie9Xpdl8+Jdd5ATrbGdtrHkOJKrVupXR6B3jH5nNHOn33/QO+3OAkJnJ0UYB1sATENzA+EwajXtmN8DceboOt3pyfHbrT4+18C4oVJZ6/UZc18VtxzIcDjD3CbBmi8TYGMV4Ij5VgnWSkKTQx17PiHnLuMYTEBzzRPw9Zb+oX6nHpi95zXsPAAAAAElFTkSuQmCC) center no-repeat;
}

.remote-pointer.click {
  border-color: #2EB6FF;
  box-shadow: 0 0 10px #2EB6FF;
}

#cobrowse {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -32px;
}

#cobrowse_control_center {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(53,53,53); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(53,53,53,1) 0%, rgba(20,20,20,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,53,53,1)), color-stop(100%,rgba(20,20,20,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(20,20,20,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(20,20,20,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(20,20,20,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(53,53,53,1) 0%,rgba(20,20,20,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
  padding: 8px 6px 6px 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: #ccc;
}

#cobrowse_activation_code_text, #cobrowse_start {
  margin: 0 5px;
  width: 3em;
  padding: 3px 9px;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  font-weight: bold;
  background: rgb(102,160,70); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(102,160,70,1) 0%, rgba(70,163,21,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,160,70,1)), color-stop(100%,rgba(70,163,21,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(102,160,70,1) 0%,rgba(70,163,21,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(102,160,70,1) 0%,rgba(70,163,21,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(102,160,70,1) 0%,rgba(70,163,21,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(102,160,70,1) 0%,rgba(70,163,21,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a046', endColorstr='#46a315',GradientType=0 ); /* IE6-9 */
  
}

#cobrowse_destroy_session {
  text-align: center;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  float: right;
  background: #777;
  margin-top: -2px;
}

#cobrowse_destroy_session:hover {
  color: #fff;
  background: rgb(204,83,83); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(204,83,83,1) 0%, rgba(204,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,83,83,1)), color-stop(100%,rgba(204,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(204,83,83,1) 0%,rgba(204,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(204,83,83,1) 0%,rgba(204,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(204,83,83,1) 0%,rgba(204,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(204,83,83,1) 0%,rgba(204,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5353', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}


#cobrowse_start, #cobrowse_already_have, #cobrowse_activation_code_form {
  display: none;
}